<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>Your name is {{ name }}</h3>
    <h1>Hello Audi!</h1>
    <div style="display: flex; flex-flow: row">

    {% for car in cars %}
    <div style="width: 200px; height: 200px; margin: 20px; background-color:#fafafa; text-align: center">
        <img alt="audi" width = 170px src={{ car.image }} style="margin-top:20px; margin-bottom:50px">
        Audi{{car.model}}<br>
        {% if car.purchased %}
            Purchased
        {% else  %}
            <a href="/buy_car/{{ car.id }}">BUY</a></br>
        {% endif %}
    </div>
        {% empty %}
            sorry, no cars left for today
        {% endfor %}
    </div>
</body>
</html>